<!DOCTYPE HTML>
<html>
    <head>
        <title>Velocity Mentoring</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% load static%}
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <script src="{% static 'JS/index.js' %}"></script>
    </head>
<!--The Start of the body-->
    <body class="body">
        {% csrf_token %}
        <div class="container">
<!--Start NavBar-->
            <div class="navbar">
                <img src="{% static 'imgs/logo.png' %}" alt="logo" class="logo">
                <P class="logotext">VM</P>
                <nav>
                    <ul id="menuList">
                        <li><a href="">Home</a></li>
                        <li><a href="" target="_blank">Locations</a></li>
                        <li><a href="https://didactic-lamp-v494vj9454rfwq74-8000.app.github.dev//add/" target="_blank">Add Location</a></li>
                        <li><a href="https://didactic-lamp-v494vj9454rfwq74-8000.app.github.dev/contact/" target="_blank">Contact Us</a></li>
                    </ul>
                </nav>
                <img src="{% static 'imgs/menu.png' %}" alt="menu" class="menu-icon" onclick="togglemenu()">
            </div>
<!--End NavBar-->
            <h1 class="title">Roads Velocity</h1> <br>
<!--Starting of the text and image part-->
            <div class="row">
<!--Start Locations Table-->
                <div class="col-1">
<!--The for loop starts here (the table of one backend)-->
                    {% for location in locations %}
                    <table>
                        <tr>
                            <th class="location-name">
                                {{ location.name }}
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <form id="comment-form">
                                    <input type="text" name="text" class="commentBox">
                                    <input type="hidden" name="location_id" value="{{ location.id }}" class="name">
                                    <button type="submit" class="commentBtn">Comment</button>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td class="l">
                                <button class="like-btn" data-location="{{ location.id }}" class="l">Like</button>
                                <span class="like-count" data-location="{{ location.id }}" class="l">{{ location.likes }}</span>

                                <button class="dislike-btn" data-location="{{ location.id }}" class="l">Dislike</button>
                                <span class="dislike-count" data-location="{{ location.id }}" class="l">{{ location.dislikes }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {% for comment in location.comments %}
                                    <p>{{ comment.text }}</p>
                                {% endfor %}
                            </td>
                        </tr>
                    </table> <br>
                    {% endfor %}
<!--The loop ends here (End of the page or adding a new backend)-->
                </div>
<!--End of the Locations Table-->
<!--Start the image and color box code-->
                <div class="col-2">
                    <img src="{% static 'imgs/road.png' %}" class="road">
                    <img src="{% static 'imgs/sign.png' %}" class="sign">
                    <div class="colorbox"></div>
                </div>
<!--End the Image and color box code-->
            </div>
<!--End of the text and image part-->
        </div>
<!--Toggle list-->
        <script>
            var menuList = document.getElementById("menuList");

            menuList.style.maxHeight = "0px";

            function togglemenu(){
                if(menuList.style.maxHeight == "0px"){
                    menuList.style.maxHeight = "130px";
                }
                else{
                    menuList.style.maxHeight = "0px";
                }
            }
        </script>
    </body>
</html>